*.class
.idea/
out/
*.xlsx
*.pyc
__pycache__/
python-venv/
.env
APDescription.txt
MTPs-Main-Container.txt
*.iml
.vscode/
venv/
*.csv
*.txt
scenarios/
iteration_results/
agent_output/
# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build
